# Lix .gitignore for everybody
# If you wish to exclude files that only you have, use .git/info/exclude
# instead of this file, which will affect all users and is versioned.

# exclude all object files due to compiling code,
# also all binaries, including Windows ones
obj/*
deps/*
bin/*
*.layout
*.depend

# exclude the user data, log and config files in data/, exclude replays
data/user/*.txt
data/config.txt
data/log.txt
replay/*

# exclude Lemmings legacy material: terrain and levels
# the last line excludes free levels that need legacy terrain
bitmap/orig/L1/*
bitmap/orig/L1/*/*
bitmap/orig/L2/*/*
levels/orig/*
levels/network/*oldgfx/*

# exclude non-free sounds. Make an exception for finished replacements,
data/sound/*
!data/sound/brick.wav
!data/sound/assign.wav
!data/sound/clock.wav
!data/sound/fire.wav
!data/sound/goal.wav
!data/sound/goal_bad.wav
!data/sound/hatch.wav
!data/sound/lets_go.wav
!data/sound/ouch.wav
!data/sound/overtime.wav
!data/sound/panel.wav
!data/sound/steel.wav
!data/sound/water.wav

# exclude test levels, and Rubix's Tutorials.
bitmap/Tutorial Files/*
levels/Tutorial/*
levels/test/*
