# Lix .gitignore for everybody
# If you wish to exclude files that only you have, use .git/info/exclude
# instead of this file, which will affect all users and is versioned.

# exclude all object files due to compiling code
*.[oa]
lix/src/lix.layout
 
# exclude the user data, log and config files in data/
lix/data/user/*.txt
lix/data/config.txt
lix/data/log.txt

# exclude Lemmings legacy terrain in case the user still uses it
lix/bitmap/orig/L1/*
lix/bitmap/orig/L1/*/*
lix/bitmap/orig/L2/*/*

